{% extends 'index.html' %}
{% load static %}

{% block content %}
<section id="banner">
        <div class="inner">
            <header>
                <h3>Equipamentos</h3>
            </header>
  
            <h2 style="color: white;">Espada Longa</h2>
            <h3 style="color: white;">Descrição</h3>
            <div class="inner">
                <p style="position:relative; top: -100px;">Em geral, são chamadas de "espadas longas" espadas com 85 cm a 1,15 m de comprimento total e peso entre 0,9 kg e 1,5 kg. Não existe uma convenção precisa sobre os limites entre espadas curtas e longas, mas a diferença entre espadas longas e bastardas é marcada pelo tamanho da empunhadura - as bastardas têm uma empunhadura bem mais longa, que permite serem seguradas com as duas mãos. A maioria das espadas longas tinha dois gumes e ponta rombuda, servindo apenas para cortar. Espadas de ponta perfurante, mais comuns no sul do continente, popularizaram-se pouco tempo depois.</p>
            </div>

            <h2 style="color: white;">Arco Longo</h2>
            <h3 style="color: white;">Descrição</h3>
            <div class="inner">
                <p style="position:relative; top: -100px;"> Este arco reforçado tem a altura de uma pessoa. Diferente do arco curto, é próprio para campos de batalha e outras áreas abertas — seu longo alcance permite atingir o inimigo a grandes distâncias. Exige as duas mãos.</p>
            </div>


            <h2 style="color: white;">Adaga</h2>
            <h3 style="color: white;">Descrição</h3>
            <div class="inner">
                <p style="position:relative; top: -100px;">Essa faca afiada é muito usada por ladrões e assassinos, por ser facilmente escondida. Uma adaga também pode ser arremessada.</p>
            </div>
        </div>
</section>
{% endblock %}