{% extends 'index.html' %}

{% block content %}

<!-- Banner -->
<section id="banner">
    <div class="inner">
        <header>
            <h1>FichaCorp</h1>
        </header>

        <div class="flex">

            <div>
                <span class="icon fa-sticky-note"></span>
                <h3>Assistente de Ficha</h3>
                <p>auxilia na montagem da ficha</p>
            </div>

            <div>
                <span class="icon fa-shield"></span>
                <h3>Classes</h3>
                <p>informações básicas sobre a classe</p>
                <p>habilidades</p>
            </div>

            <div>
                <span class="icon fa-odnoklassniki"></span>
                <h3>Raças</h3>
                <p>informações básicas sobre a raça</p>
                <p>descrição</p>
            </div>
            
            <div>
                <span class="icon fa-gavel"></span>
                <h3>Equipamentos</h3>
                <p>informações e listagem dos equipamentos</p>
            </div>

            <div>
                <span class="icon fa-magic"></span>
                <h3>Magias</h3>
                <p>descrição e listagem das magias</p>
            </div>

        </div>

    </div>
</section>

{% endblock %}  