{% extends 'index.html' %}
{% load static %}

{% block content %}
<section id="banner">
    <div class="inner">
        <header>
            <h3>Magias</h3>
        </header>

        <h2 style="color: white;">Vazio</h2>
        <h3 style="color: white;">Descrição</h3>
            <div class="inner">
                <p style="position:relative; top: -100px;">Vazio é uma magia que faz o alvo perder sua memória e a maioria de suas habilidades, poderes, magias e golpes especiais de combate, tornando-se quase uma pessoa comum. Na verdade, nenhum poder é realmente perdido - a vítima simplesmente não se lembra mais dele.
                    Alguns vão retornar sozinhos, com o tempo, mas outros devem ser recuperados por tentativa e erro, apenas em situações de extrema emergência - como quando se está caindo de um abismo é possível que se recobre a habilidade de levitar. Infelizmente para a vítima, desvantagens e maldições reaparecem com muito mais facilidade.
                    Os bardos de Arton contam histórias tristes sobre heróis poderosos que vagam pelo mundo esquecidos de quem foram, vítimas desta poderosa magia. Uma magia Desejo permite recuperar todas as memórias perdidas.
                </p>
            </div>
        
        <h2 style="color: white;">Pesadelo</h2>
        <h3 style="color: white;">Descrição</h3>
            <div class="inner">
                <p style="position:relative; top: -100px;">Pesadelo é uma magia que causa pesadelos que impedem o sono tranquilo.</p>
            </div>
        
        <h2 style="color: white;">Megalon</h2>
        <h3 style="color: white;">Descrição</h3>
            <div class="inner">
                <p style="position:relative; top: -100px;">Megalon é uma magia que torna uma criatura maior e mais forte. O aumento depende do nível de poder do conjurador: quanto maior seu poder, maior o aumento no tamanho da criatura, e mais crescem sua força e resistência. Roupas, armas e armaduras que estejam com a criatura também são ampliadas.
                    O tamanho ampliado pode ser mantido durante até uma hora. Esgotado esse prazo, o conjurador deve renovar o efeito (o que exige um toque) e gastar novamente a quantidade necessária de poder mágico. Uma vez que ele não pôde recuperar o poder mágico consumido anteriormente, é impossível manter o Megalon por períodos muito longos.
                    Diz a lenda que esta magia recebeu o nome de seu criador Megalon, um antigo e absurdamente poderoso sumo-sacerdote de Megalokk, o deus dos monstros. Usando-a em conjunto com Permanência, ele criou no passado versões gigantescas de criaturas normais como lagartos, insetos, aranhas e escorpiões. Esses monstros titânicos e únicos são conhecidos como "megalontes", e ainda podem ser encontrados vagando em lugares inóspitos. Vencer um megalonte está entre os maiores desafios que um aventureiro poderia enfrentar em Arton.
                    Criaturas que recebam a magia contra a vontade podem tentar resistir a seus efeitos. Esta magia pode ser utilizada para reverter os efeitos de Mikron, e vice-versa.</p>
            </div>    
{% endblock %}