{% extends 'index.html' %}
{% load static %}

{% block content %}
<section id="banner">
    <div class="inner">
        <header>
            <h3>Raças</h3>
        </header>
    
        <h2 style="color: white;">Anão</h2>
        <img src="{% static 'images/Anao.jpg' %}" alt="Anão com martelo" width="30%" height="500px">
        <h3 style="color: white;">Descrição</h3>
        <div class="inner">
            <p style="position:relative; top: -100px;">Povo recluso e próximo das montanhas e rochas, os anões habitam o reino subterrâneo de Doherimm, onde escavam riquezas. No entanto, são gente simples: gostam de esculpir rocha, trabalhar o metal e entalhar joias — além de uma boa briga e uma cerveja bem tirada! Atualmente, quase todos os anões são nativos de Doherimm. Mas os escritos rúnicos do Muro Histórico falam de tempos antigos em que eles eram comuns na superfície de Arton — quando o profeta anão Wordarion Thondarimm anunciou uma catástrofe, fazendo todos se refugiarem nos subterrâneos. Hoje sabe-se que essa calamidade deve ser a própria Tormenta.
                Dizem as lendas que os anões foram criados por Tenebra, a Deusa das Trevas, em comunhão com Khalmyr, o Deus da Justiça. No entanto, há muitas versões para a mesma história. Uma diz que os dois deuses se apaixonaram, sendo os anões fruto e símbolo verdadeiro dessa união. Outra versão diz que Tenebra, invejosa dos elfos de Glórienn, enganou e enfeitiçou Khalmyr para que “juntos” criassem os anões. Mais tarde, livre do encanto, Khalmyr tomou a raça sob sua tutela, protegendo-os contra a corrupção de Tenebra. E uma terceira lenda diz ainda que Tenebra gerou os anões sozinha, como prova de amor pelo Deus da Justiça.
                Como povo, os anões sempre foram devotos de Khalmyr, espelhando-se em seus dogmas. Mas muitos adoravam secretamente Tenebra, e um evento dramático revelou essa divisão. Rhumnam, a espada de Khalmyr, havia sido confiada ao povo anão — mas foi roubada pelo Camaleão, um assassino meio-elfo. Antes que o roubo pudesse se tornar público, o artefato santo foi recuperado pelo anão exilado Ingram Brassbones. Mas Rhumnam voltou diferente: além da lâmina, também trazia uma arma de pólvora acoplada ao cabo da espada. Agora era também uma arma de Tenebra, diriam! Muitos fiéis viram ali um sinal para abraçar a Deusa das Trevas, agora abertamente venerada. A cisão e desavença entre os dois cultos aumentaram mais ainda quando o Deus da Justiça deixou de liderar o Panteão, trazendo incerteza ao coração de seus devotos.
                Assim, hoje os anões dividem-se entre os fiéis a Khalmyr, ao Rei Thogar Hammerhead I e às antigas tradições; e aqueles fiéis a Tenebra,que exploram novas técnicas (como armas de fogo, pólvora e vapor) e querem independência política. Esta facção não tem ainda um líder — por enquanto, os anões são uma nação única. Mas suspeita-se de um poderoso devoto de Tenebra (talvez um vampiro ou Lich) agindo nas sombras. A semente de uma guerra civil está plantada.
            </p>
        </div>

        <h2 style="color: white;">Humano</h2>
        <img src="{% static 'images/Humano.jpg' %}" alt="Humano malandro" width="30%" height="500px">
        <h3 style="color: white;">Descrição</h3>
        <div class="inner">
            <p style="position:relative; top: -100px;">Os humanos são a espécie humanóide que compõe a maior parte da população de Arton. Criados pela deusa Valkaria há cerca de 160 mil anos no continente de Lamnor, são conhecidos pela sua ambição, inventividade, determinação e capacidade infinita para o bem e para o mal. Pode-se dizer que é a raça mais versátil de Arton, tida como destinada a conquistar o mundo.
                    A civilização humana teve início quando Tanna-Toh ofereceu a eles o dom da escrita, cerca de 100 anos após a chegada dos elfos a Lamnor. O centro atual dessa civilização é o Reinado, uma grande coalizão de reinos localizada em Ramnor que abriga muitas das maravilhas de Arton, como a Academia Arcana e o Palácio Rishantor - todas construções humanas.
                    Um total de 136 milhões de seres humanos habita o Reinado e suas vizinhanças - mais de 80% de toda a população humana de Ramnor e Lamnor. Concentrações humanas menores podem ser encontradas em numerosas outras regiões, desde tribos bárbaras nas Montanhas Sanguinárias até nômades do Deserto da Perdição, mas a maior parte da humanidade está no Reinado. Humanos gostam dos halflings, sempre hospitaleiros e gentis com todos.
            </p>
        </div>

        <h2 style="color: white;">Elfo</h2>
        <img src="{% static 'images/Elfo.jpg' %}" alt="Elfo na Floresta" width="30%" height="500px">
        <h3 style="color: white;">Descrição</h3>
        <div class="inner">
            <p style="position:relative; top: -100px;"> Os elfos, filhos da deusa Glórienn, são uma raça silvestre muito antiga, de vida muito afeita às artes, à magia, à beleza e aos mais delicados prazeres. Possuem mais ou menos a mesma altura e compleição física dos humanos, mas tendem a ser mais sutis, elegantes e esbeltos - apesar de que alguns se mostram tão musculosos e massivos quanto qualquer humano.
                    Têm orelhas longas e pontudas e olhos amendoados, e muitos apresentam traços exóticos em sua aparência - como olhos e cabelos de cores incomuns e brilhantes (azuis, verdes, púrpuras, lilases, dourados, prateados, vermelhos... quase sempre em tons metálicos) ou traços de animais (patas; cauda longa, fina e com a ponta afiada; olhos com pupilas verticais ou íris enormes, que ocupam quase todo o olho...).
                    Os elfos são longevos, costumando atingir os 250 anos. Essa longevidade exerce forte influência sobre sua personalidade, e ajuda a explicar seu comportamento. Elfos apreciam os prazeres da vida mais lentamente, e por isso são exigentes quanto à comida, roupas, beleza, artes e prazeres em geral. Apenas os maiores amigos e inimigos são lembrados por eles. Eles constroem suas habitações em árvores, apreciam vinho, pratos exóticos e objetos de arte e são amantes da natureza e observadores das coisas belas do mundo.
                    Todas essas coisas fazem com que os elfos sejam vistos pelos humanos como frívolos, distantes e até arrogantes. Porém, apreciam a companhia dos halflings, pos reconhecem o apreço que essas criaturinhas têm pela natureza.  Elfos enxergam no escuro, são propensos a desenvolver habilidades mágicas e são especialistas na luta contra goblinóides. Suas armas tradicionais são o arco e a espada longa.
            </p>
        </div>
    </div>
{% endblock %}